.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  p{
    text-align:left;
  }
}

.popup {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 5px;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: right;
}
.popup button {
  margin: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.confirm{
  width: 55px;
  height: 32px;
  background-color: #1d93ab;
  border: none;
  color: white;
  text-align: center;
}
.confirm:hover{
  opacity: 0.8;
}
.close{
  width: 55px;
  height: 32px;
  border: 1px solid #cccccc;
  background-color: white;
  color: black;
  text-align: center;
}
.close:hover{
  border: 1px solid #1d93ab;
  background-color: rgb(232,244,247);
  color: #1d93ab;

}
